.product__item{

}

.product__list{
    row-gap: 30px;
}

.product__title{
    margin-top: 20px;
}

.product__price-container{
    margin-top: 20px;
    font-size: 2rem;
    line-height: 1.2;
}

.product__btn{
}

.product__shop-name{
    font-size: 1.8rem;
    line-height: 1.5;
}

.product-select{
    padding: 17px;
}

.product-quantity{
    padding: 17px;
    margin-right: 10px;
}